.main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rightHalf {
  background: #f2f2f2;
  height: 100%;
}

.backBtn {
  text-decoration: none;
  color: #54b484;
}

.backBtn:hover {
  text-decoration: underline;
  color: #54b484;
}

.contact a {
  text-decoration: none;
  color: #54b484;
}

.contact a:hover {
  text-decoration: underline;
  color: #54b484;
}

.details,
.rightHalf {
  padding: 30px 40px 40px;
}

.backtocart {
  text-decoration: none;
  color: #54b484;
}

.backtocart:hover {
  text-decoration: underline;
  color: #54b484;
}

.shipbtn {
  text-decoration: none;
  color: white;
  background: #54b484;
  padding: 8px 15px;
  border-radius: 5px;
}

.shipbtn:hover {
  color: white;
  background: green;
}
